.menu {
  visibility: hidden;
  position: fixed;
  right: -100px;
  top: 0px;
  display: flex;
  flex-direction: column;
  background: #0000009c;
  width: 70px;
  height: 100vh;
  transition: right 0.3s ease-in-out, visibility 0.3s linear;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 0px 0px 0px;
  z-index: 2;
}

.actionButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50px;
  margin: 0 auto;
}

.actionButtons hr {
  width: 100%;
  margin: 20px 0px 20px 0px;
}

.menu.active {
  visibility: visible;
  right: 0;
}
